.loader {
  font-size: 19px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load 1.3s infinite linear;
  animation: load 1.3s infinite linear;
}
@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #518ec2, 2em -2em 0 0em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 0em #518ec2;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #518ec2, 2em -2em 0 0.2em #518ec2, 3em 0em 0 0em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 0em #518ec2, 3em 0em 0 0.2em #518ec2, 2em 2em 0 0em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 0em #518ec2, 2em 2em 0 0.2em #518ec2, 0em 3em 0 0em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 0em #518ec2, 0em 3em 0 0.2em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 0em #518ec2, -2em 2em 0 0.2em #518ec2, -3em 0em 0 0em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 0.2em #518ec2, -2em -2em 0 0em #518ec2;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 0em #518ec2, -2em -2em 0 0.2em #518ec2;
  }
}
@keyframes load {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #518ec2, 2em -2em 0 0em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 0em #518ec2;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #518ec2, 2em -2em 0 0.2em #518ec2, 3em 0em 0 0em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 0em #518ec2, 3em 0em 0 0.2em #518ec2, 2em 2em 0 0em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 0em #518ec2, 2em 2em 0 0.2em #518ec2, 0em 3em 0 0em #518ec2, -2em 2em 0 -0.5em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 0em #518ec2, 0em 3em 0 0.2em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 -0.5em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 0em #518ec2, -2em 2em 0 0.2em #518ec2, -3em 0em 0 0em #518ec2, -2em -2em 0 -0.5em #518ec2;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 0.2em #518ec2, -2em -2em 0 0em #518ec2;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #518ec2, 2em -2em 0 -0.5em #518ec2, 3em 0em 0 -0.5em #518ec2, 2em 2em 0 -0.5em #518ec2, 0em 3em 0 -0.5em #518ec2, -2em 2em 0 0em #518ec2, -3em 0em 0 0em #518ec2, -2em -2em 0 0.2em #518ec2;
  }
}
.adjust
{min-height:60px; height:auto;}
.mt
{ margin-top:50px;}