        <section class="content-header">
          <h1>
            {$l_users_panel}
            <small>{$l_users_panel_info}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="{$adm_host}/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{$l_gest_users}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">{$l_gest_admin}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                  <div class="box-body">
					<center><img width="128" height="128" alt="" src="{$host}/modules/{$ModuleName}/resources/admins.png" style="margin:0;"></center>
                  </div><!-- /.box-body -->
				  <div class="box-footer">
                    <center><a id="admins" href="{$host}/{$ModuleUrlName}/admin/gestadmins/" class="btn btn-flat btn-primary">{$l_gest_admin}</a></center>
                  </div>
                </form>
              </div><!-- /.box -->
			</div><!-- /.col -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">{$l_gest_users}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                  <div class="box-body">
					<center><img width="128" height="128" alt="" src="{$host}/modules/{$ModuleName}/resources/users.png" style="margin:0;"></center>
                  </div><!-- /.box-body -->			  
				  <div class="box-footer">
                    <center><a id="admins" href="{$host}/{$ModuleUrlName}/admin/gestusers" class="btn btn-flat btn-success">{$l_gest_users}</a></center>
                  </div>
                </form>
              </div><!-- /.box -->			  
			</div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->